@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.main-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 60%;
}
